<configuration scan="true" scanPeriod="1 minutes">

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>

    <!-- SINGLELINE STACKTRACE -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN:-[%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", GMT+07:00}] ${LOG_LEVEL_PATTERN:-%5p} ${PID:- }}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

<!--    <logger name="com.gdn.pyeongyang.subscription" level="INFO" additivity="false">-->
<!--        <appender-ref ref="STDOUT"/>-->
<!--    </logger>-->

    <logger name="org.springframework" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
